Data
Dml_pipeline/Data
Data.rar
assets
assets/
ml_pipeline/weights
assets
__pycashe__/
*.pyc 
*.pyo
.pytest_cache/
app/controllers/__pycache__/
app/models/__pycache__/
ml_pipeline/Notebooks/x3d_model.pth
ml_pipeline/Notebooks/i3d_model.pth

